# 환경 변수 및 API 키
.env

# 결과 디렉토리
/results/

# 실행 파일
*.exe
ffmpeg.exe
ffprobe.exe
/bin/*.exe
/bin/ffmpeg.exe
/bin/ffprobe.exe

# Python 캐시 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 운영체제 파일
.DS_Store
Thumbs.db
desktop.ini

# 임시 파일
*.tmp
*.bak
*.swp

# IDE 설정
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 
*.txt